<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ApyTwitter</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ApyTwitter</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!--
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        -->
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Nombre éléments">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li>
              <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#newFilterModal">Nouveau filtre</button>
            </li>
          </ul>
          <ul class="nav nav-sidebar list-group">
            {% for filt in filts %}
            <li class="list-group-item">
              <div class="panel-default" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFilterOne" aria-expanded="true" aria-controls="collapseFilterOne">
                    {{ filt.name }}
                  </a>
                </h4>
              </div>
              <div id="collapseFilterOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFilterOne">
                <div class="panel-body">
                  <h4>{{ filt.name }}</h4>
                  <h5>Mots clés :</h5>
                  <ul class="list-group">
                    {%for key_word in filt.key_words %}
                    <li class="list-group-item">{{ key_word }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
          <h1 class="page-header">Tweets</h1>

          <h2 class="sub-header">Section title</h2>
          <ul class="list-group">
            {% for tweet in tweets%}
            <li class="list-group-item panel panel-default">
              <div class="panel-heading">
                <div>{{tweet.user_name}}</div>
              </div>
              <div class="panel-body">
                <div class="col-md-4">
                  {% for flag in tweet.etiquettes %}
                    {{flag}}
                  {% endfor %}
                </div>
                <div class="col-md-8">{{tweet.text}}</div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

        <!--
          Left side navbar
        -->
        <div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10 sidebar">
          <ul class="nav nav-sidebar">
            <li>
              <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#newFlagModal">Nouveau flag</button>
            </li>
          </ul>
          <ul class="nav nav-sidebar list-group">
            {% for flag in flags %}
            <li class="list-group-item">
              <div class="panel-default" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFlagOne" aria-expanded="true" aria-controls="collapseFlagOne">
                    {{ flag.name }}
                  </a>
                </h4>
              </div>
              <div id="collapseFlagOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFlagOne">
                <div class="panel-body">
                  <h4>{{ flag.name }}</h4>
                  <h5>Mots clés :</h5>
                  <ul class="list-group">
                    {%for key_word in flag.key_words %}
                    <li class="list-group-item">{{ key_word }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>

        <!-- New Flag modal -->
    <div class="modal fade" id="newFlagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Nouveau flag</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="newFlagName">Nom du nouveau flag</label>
              <input type="text" class="form-control" id="newFlagName" placeholder="Nom">
            </div>
            <div class="form-group">
              <label for="newFlagName">Mots clés</label>
              <input type="text" class="form-control" id="newFlagKeyWords" placeholder="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary">Enregistrer</button>
          </div>
        </div>
      </div>
    </div>


            <!-- New Flag modal -->
        <div class="modal fade" id="newFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nouveau filtre</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="newFilterName">Nom du nouveau filtre</label>
                  <input type="text" class="form-control" id="newFilterName" placeholder="Nom">
                </div>
                <div class="form-group">
                  <label for="newFilterName">Mots clés</label>
                  <input type="text" class="form-control" id="newFilterKeyWords" placeholder="">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Enregistrer</button>
              </div>
            </div>
          </div>
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
